---
import MobileNavBar from '../components/MobileNavBar.jsx';
import Layout from '../layouts/Layout.astro';
import "@radix-ui/themes/styles.css";
---

<Layout title="Dior Shelton Developer Portfolio">
	<main>
		<MobileNavBar/>
	</main>
</Layout>

<style>
	/* main {
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	} */
</style>
