---
import {
	Box,
	Container,
	Flex,
	Heading,
	Link,
	Separator,
} from "@radix-ui/themes";
---

<nav class="nav">
	<Container size="3">
		<Box>
			<Flex className="logo" gap="3" align="center">
				<img class="log-image" src="/logo.svg" alt="opening and closing html tags" />
				<Heading className="logo-heading" as="h1" size="8">Dior Shelton</Heading
				>
			</Flex>
			<Box className="container">
        <Flex gap="5" align="center" direction="row-reverse">
          <Link size="5" className="link-item" href="#">About</Link>
					<Separator orientation="vertical" />
					<Link size="5" className="link-item" href="#">Writing</Link>
					<Separator orientation="vertical" />
					<Link size="5" className="link-item" href="#">Projects</Link>
				</Flex>
			</Box>
    </Box>
	</Container>
</nav>
<style>
	.nav {
		padding: 0.5rem 1rem;
	}
	.heading {
		padding-right: 3rem;
	}
	img {
		height: 4.0625rem;
		width: 4.0625rem;
	}
</style>
