---
import { Box, Button, Container, Flex, Heading, Link } from "@radix-ui/themes";
// import {logo} from "./"
import Image from "astro/components/Image.astro";
---

<Box className="nav">
  <Container className="mellon"size="4">
    <Flex className="container-contents" gap="4">
      <Image src=../public/favicon.svg alt="logo"></Image>
      <Heading as="h1">Dior Shelton</Heading>
      <Button>
        <Link className="link-item" href="#">About</Link>
      </Button>
      <Button>
        <Link href="#">Projects</Link>
      </Button>
      <Button>
        <Link href="#">Writing</Link>
      </Button>
    </Flex>
  </Container>
</Box>
<style>
  .nav {
    border: solid white 3px;
    padding:  2rem;
    border-radius: 24px;
  }
  .container-contents {
    /* justify-content: space-evenly; */
  }
</style>